* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
}

body {
  background-color: #edeef6;
}

#main-container {
  max-width: 40%;
  margin: 80px auto;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
}

header {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
  color: #e24657;
  letter-spacing: 1px;
}

#form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px 0;
}

#form > div {
  width: auto;
}

label {
  font-size: 18px;
  font-weight: 500;
  color: #3745b9;
}

input {
  display: block;
  height: 35px;
  width: 250px;
  margin: 7px 0;
  padding: 8px;
  border: 1px solid #edeef6;
  border-radius: 5px;
  background-color: #edeef6;
  outline: none;
}

.error {
  display: block;
  font-size: 13px;
  padding: 3px;
  max-width: 220px;
  height: auto;
}

.error.active {
  color: red;
  margin-bottom: 5px;
}

::placeholder {
  font-size: 15px;
}

input:focus:invalid {
  outline: none;
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

#submit {
  color: white;
  background-color: #f91432;
  font-size: 20px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  max-width: 150px;
  letter-spacing: 1px;
  border: none;
}

#submit:hover {
  background-color: #fa2d48;
}

.invalid {
  border: 1px solid red;
}
